{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "react-app",
    "prettier",
    "plugin:react/recommended",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "react",
    "prettier",
    "jest"
  ],
  "rules": {
    "prettier/prettier": "error",
    "comma-dangle": "off",
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  },
  "overrides": [
    {
      "files": [
        "*test.js"
      ],
      "rules": {
        "react/jsx-filename-extension": "off"
      }
    }
  ],
  "env": {
    "jest/globals": true
  }
}